<p>Task: <%= @task.title %></p>
<p>Details: <%= @task.details %></p>
<p>Completed: <%= @task.completed %></p>
<%= link_to "edit", edit_task_path(@task) %>
<%= render "btn-delete", task: @task %>
<br>
<%= link_to "Back to list", tasks_path %>
